* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 20px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label {
  color: #cdd6f4;
}

.connecting {
  animation: pulse 0.8s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#workspaces,
#window,
#cpu,
#disk,
#memory,
#clock,
#battery,
#network,
#bluetooth,
#custom-wg,
#pulseaudio,
#idle_inhibitor,
#tray,
#temperature,
#backlight {
  background: #1e1e2e;
  opacity: 1;
  padding: 0px 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 0px;
}

#temperature,
#idle_inhibitor,
#network,
#clock {
  border-radius: 10px 0px 0px 10px;
}

#battery,
#pulseaudio.microphone,
#bluetooth,
#disk {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#tray,
#window,
#custom-wg,
#workspaces {
  border-radius: 10px 10px;
  margin-right: 10px;
}

#temperature.critical {
  color: #e92d4d;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: #a6e3a1;
  border-left: 0px;
}
